<ion-view view-title="Account">
  <ion-content class="ion-content-stable">
    <ion-list>
      <ion-toggle  ng-model="settings.advancedData">
          Geavanceerde data
      </ion-toggle>
      <ion-toggle  ng-model="settings.autoConnect">
          Automatisch verbinden
      </ion-toggle>
    </ion-list>
    <ion-list>
      <ion-item>
        Ingelogd als:&nbsp;<strong>David van Gelder de Neufville</strong>
      </ion-item>
    </ion-list>
    <p><a href="#" class="button button-full button-light">Log uit</a></p>
  </ion-content>
</ion-view>
